body
{
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-family: "Helvetica", sans-serif;
    text-align: center;
}

footer
{
    background-color: steelblue;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}